.carousel-containerH {
  overflow: hidden;
  position: relative;
}

.carousel-trackH {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-slideH {
  flex: 0 0 100%; /* Slide takes full width of carousel container */
}

.carousel-slideH img {
  width: 80%; /* Image fills the entire slide */
  margin-left: 10%;
}
