.slider-container {
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  z-index: 0;
  height: 100vh;
  width: 450px;
}

.slider-container::-webkit-scrollbar {
  display: none;
}

.slick-track {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45%;
}



.slider-container .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.9);
  transition: transform 800ms;
  width: 150px;
  height: 220px;
  margin-top: 5%;
  opacity: 0.5;
  transition: transform 400ms cubic-bezier(.4,0,.2,1);
}

.activeSlide {
  transform: scale(1);
  opacity: 1;
  transition: transform 400ms cubic-bezier(.4,0,.2,1);
}

.slick-center .slide {
  transform: scale(1); /* scale when centered */
  transition: transform 400ms cubic-bezier(.4,0,.2,1);
  opacity: 1;
}