* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #FFFFE5;
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 10vh;
    position: relative;
    box-shadow: #22070c1a 60px 60px 60px 60px;
    z-index: 4;
    
    
}
.left{
    display: flex;
    flex-basis: 50%;
    margin-left: 2%;
    z-index: 6;
}

.Front a{
    z-index: 7;
}

.right{
    align-items: center;
    justify-content: end;
    display: flex;
    flex-basis: 50%;
    margin-right: 5%;
    gap: 5%;
    text-decoration: none;
    color: white;
    font-family: 'ClementePDam', sans-serif;
    src: url('../fonts/ClementePDam-Bold.ttf') format('truetype');
}

.stripe{
    background-image: linear-gradient(#881b31, #B82038);
    height: 11vh;
    width: 150px;
}

.bg{
    top: 0;
    height: 10vh;
    overflow-x: hidden;
    z-index: 5;
    background-image: linear-gradient(#e3e3c7, #FFFFE5);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.burger{
    color: rgba(255, 209, 47, 1);
    bottom: 10%;
    height: auto;
}
.right a{
    text-decoration: none;
    background-image: linear-gradient(to right, #fab035,#fede75,#fab035);
    border: 3px solid #e0523b;
    border-radius: 40px;
    transition: 0.5s;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    color: rgb(10, 10, 10);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight:500;
    margin-bottom: 5%;
    font-size: larger;
}


.right a:hover{
    color: rgb(251, 239, 212);
}

.navbar button{
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    display: none;
    z-index: 7;
}

.navbar svg{
    font: 40px;
}



.drape{
    width: 235px;
    height: 200px;
    margin: -1%;
    border-radius: 50%;
    margin-top: -1.8%;
    z-index: 2;
    background-image: linear-gradient(#450d0d 60%, #c8203a);
    box-shadow: black;
    position: relative;
    
}

.drape{
    top: 4vh;
}

.navMascot{
    width: 170px;
    height: 40vh;
    background-image: url(../assets/weBareChicks.png);
    background-size: auto 35vh;
    background-repeat: no-repeat;
    background-position: 50% 0vh;
    transform: rotate(-5deg);
    position: absolute;
    bottom: 3vh;
}


.navbar .hidden{
    z-index: 1;
    position: absolute;
    display: none;
    background-image: linear-gradient(#94102a, #B82038);
    padding: 25%;
    width: 200px;
    
    padding-top: 100%;
    top: 214%;
    flex-direction: column;
    left: -150px;
    align-items: center;
    float: right;
    height: 100vh;
    font-family: 'ClementePDam', sans-serif;
    src: url('../fonts/ClementePDam-Bold.ttf') format('truetype');
}


.black{
    background-color: black;
}

.darken{
    z-index: 1;
    display: none;
    position: fixed;
    background-color: black;
    opacity: 70%;
    top: 100%;
    width: 100%;
    height: 608vh;
}

.navbar .hidden a{
    text-decoration: none;
    background-image: linear-gradient(to right, #fab035,#fede75,#fab035);
    border: 3px solid #e0523b;
    border-radius: 40px;
    transition: 0.5s;
    margin-top: 5%;
    margin-left: 4%;
    padding: 9%;
    width: 150px;
    
}

.lights {
    width: 30px;
    height: 30px;
    background-color: #FFF372;
    border-radius: 50%;
    position: absolute;
    bottom: 4%;
    left: -20%;

  }
  
  @keyframes glowing {
    from {
      box-shadow: 0 0 1.25px #fff3b6, 0 0 2.5px #fff3b6, 0 0 3.75px rgb(255, 179, 0), 0 0 5px rgb(255, 213, 0), 0 0 6.25px #e6a100, 0 0 7.5px #e6a100, 0 0 8.75px #e6a100;
    }
    to {
      box-shadow: 0 0 5px #fff3b6, 0 0 7.5px #ffb24d, 0 0 10px #ffb24d, 0 0 12.5px #ffb24d, 0 0 15px #ffb24d, 0 0 17.5px #ffb24d, 0 0 20px #ffb24d;
    }
  }

  

@keyframes slideIn{
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(0vw);
    }
}

@keyframes slideout{
    0%{
        transform: translateX(0vw);
        display: flex;
        flex-direction: column;
    }
    100%{
        transform: translateX(100vw);
        display: none;
    }
}

@keyframes popD{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 70%;
    }
}

@keyframes fadeD{
    0%{
        opacity: 70%;
        display: flex;
        flex-direction: column;
    }
    100%{
        opacity: 0%;
        display: none;
    }


}

.drapes{
    top: 1vh;
}

@media (max-width:1600px){
    .bg{
        width: 900vw;
    }


    .right a{
        font-size:20px;
        margin-bottom: 5%;
    }

    .drapes{
        top: -5vh;
    }


}

@media (max-width:1500px){
    .drapes{
        top: -2vh;
    }
}

@media(max-width:1200px){
    .right a{
        font-size: large;
    }
}

@media(max-width:1024px){
    .right a{
        font-size: large;
        margin-bottom: 5%;
    }

    .drapes{
        top: 0vh;
    }
}

@media(max-width:1024px) and (orientation:portrait){
    .right a{
        font-size: larger;
        margin-bottom: 10%;
        margin-right: -5%;
    }

    .drapes{
        top: 1vh;
    }

    
}

@media(max-width:920px) and (orientation:landscape){
    .drapes{
        top: 1vh;
    }

    .bg, .stripe{
        height: 20vh;
    }

    .right a{
        margin-bottom: 0%;
        font-size:smaller;
        margin-right: -3%;
    }
}

@media(max-width:900px) and (orientation:landscape){
    .drapes{
        top: -10vh;
    }
}

@media(max-width:900px) and (orientation:portrait){
    .right a{
        font-size:medium;
        margin-bottom: 10%;
        margin-right: -7%;
    }

    .drapes{
        top: 0vh;
    }

    
}

@media(max-width:800px) and (orientation:landscape){
    .drapes{
        top: -5vh;
    }
}




@media (max-width:640px){
    .drapes{
        top:-4vh;
    }
    .navbar button{
        display: initial;
        transition: 2s;
    }

    .bg{
        width: 1350vw;
    }

    .lights{
        -webkit-animation: none;
    -moz-animation:none;
    animation: none;
    box-shadow: 0 0 5px #fff3b6, 0 0 7.5px #ffb24d, 0 0 10px #ffb24d, 0 0 12.5px #ffb24d, 0 0 15px #ffb24d, 0 0 17.5px #ffb24d, 0 0 20px #ffb24d;
    }

    .navbar .right{
        display: none;
    }

    .navbar #open{
        display: initial;
        display: flex;
        flex-direction: column;
        animation: popD 0.5s;
    }

    .navbar #close{
        flex-direction: column;
        transition: 2s;
        animation: fadeD 0.5s;
    }

    .Front #open{
        display: initial;
        display: flex;
        flex-direction: column;
        animation: slideIn 0.5s;

    }

    .Front #close{
        flex-direction: column;
        transition: 2s;
        animation: slideOut 0.75s;
    }

    .drape{
        width: 235px;
        height: 200px;
        margin: -1%;
        border-radius: 50%;
        margin-top: -1.8%;
        z-index: 2;
        background-image: linear-gradient(#450d0d 60%, #c8203a);
        box-shadow: black;
        position: relative;
    }

    .stripe{
        background-image: linear-gradient(#881b31, #B82038);
        height: 11vh;
        width: 150px;
    }

    .burger{
        transform: scale(1.8);
    }

    
    
}







@media(max-width:450px){
    .bg{
        width: 1800vw;
    }

    .drapes{
        top: -2vh;
    }


    @media(max-width:380px){
        .drapes{
            top: -5vh;
        }
    }

    @media(max-width:360px){
        .drapes{
            top: -3vh;
        }
    }

}